body {
	background-color: #eee;
}

.card {
	background-color: #fff;
	padding: 15px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-title {
	font-weight: 600;
}

.heading-title {
	display: inline;
	font-weight: 600;
	font-size: 1rem;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 6px;
	& + * {
		margin-top: 1rem;
	}
}

.heading-sub {
	display: inline;
	font-weight: 600;
	font-size: 0.7rem;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 6px;
	& + * {
		margin-top: 1rem;
	}
}

.input-box {
	position: relative;
}

.input-box i {
	position: absolute;
	right: 13px;
	top: 15px;
	color: #ced4da;
}

.form-control {
	height: 50px;
	background-color: #eeeeee69;
}

.form-control:focus {
	background-color: #eeeeee69;
	box-shadow: none;
	border-color: #eee;
}

.navbar {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-image:hover {
	transform: scale(0.98);
}

.location-name {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: rgb(63, 121, 230);
	padding: 10px 7px 0;
}

.location-name:hover {
	cursor: pointer;
}

.heading {
	font-weight: 600;
	color: rgb(88, 87, 87);
	padding: 7px;
}

.heading:hover {
	cursor: pointer;
}

.author {
	color: gray;
	font-weight: 400;
	font-size: 11px;
	padding-top: 20px;
}

.name {
	font-weight: 600;
}

.name:hover {
	cursor: pointer;
}

.modal {
	backdrop-filter: blur(10px);
}

.form-error {
	color: red;
	font-size: 0.9em;
}

.error-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
