:root {
	font-family: "Nunito", sans-serif;
	--theme-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
	background-color: #f9fafd;
}

.card {
	background-color: #fff;
	padding: 15px;
	border: none;
	box-shadow: var(--theme-box-shadow);
}

.card-title,
.heading-title,
.heading-sub {
	font-weight: 600;
}

.heading-title,
.heading-sub {
	display: inline;
	font-size: 18px;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 6px;
	& + * {
		margin-top: 1rem;
	}
}

.input-box {
	position: relative;

	i {
		position: absolute;
		right: 13px;
		top: 15px;
		color: #ced4da;
	}
}

.input-group-text {
	background-color: #eeeeee69;
}

.form-control {
	height: 50px;
	background-color: #eeeeee69;
	&:focus {
		background-color: #eeeeee69;
		box-shadow: none;
		border-color: #eee;
	}
}

.navbar {
	box-shadow: var(--theme-box-shadow);
}

.card-image:hover {
	transform: scale(0.98);
}

.location-name,
.location-type,
.heading,
.name,
.author,
.full_name,
.username {
	font-weight: 600;
	padding: 7px;
}

.location-name {
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(63, 121, 230);
	padding: 10px 7px 0;
	&:hover {
		cursor: pointer;
	}
}

.heading,
.name,
.full_name {
	color: rgb(88, 87, 87);
	&:hover {
		cursor: pointer;
	}
}

.author {
	color: gray;
	font-size: 11px;
	padding-top: 20px;
}

.modal {
	backdrop-filter: blur(10px);
}

.form-error {
	color: red;
	font-size: 0.9em;
}

.error-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.avatar-img {
	height: 35px;
	width: 35px;
	border-radius: 100px;
	margin-right: 10px;
}

.profile-box {
	gap: 10px;
}

.navbar {
	background-color: #fff;
	box-shadow: var(--theme-box-shadow);
}

.footer-bottom {
	background-color: rgba(0, 0, 0, 0.05);
}
